.dark{
    background-color: #000;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #000;
}
#btn {
    justify-content: space-between;
    display: flex;
    width: 150px;
    height: 20px;
    border-radius: 10px;
}